<header class="header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <a class="page-link" href="https://github.com/popey456963">Github</a>
      {% for page in site.pages %}
        {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<center>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5392858136394489"
     data-ad-slot="1172123051"></ins></center>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<style>
.adsbygoogle {
  margin-left: auto;
  margin-right: auto;
  margin: 40px 0px -90px 0px
}
</style>-->